@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Oswald:wght@200..700&display=swap');
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");
@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
    padding: 0;
    margin: 0;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    background: #000;
    color: #ffffff;
}
.home{
  height: 680px;
}
.logo{
    font-size: 20px;
    padding: 18px;
    margin-left: 40px;
    font-weight: 700;
}
.logo:hover{
    color: aqua;
    cursor: pointer;
}
.nav-option{
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    padding: 20px 5px;
    margin: 0px 20px;
    margin-top: -60px;
    display: flex;
    float: right;
    position: relative;
    opacity: 0.75;
    align-items: center;
    z-index: 2;
}
.nav-option:hover {
    opacity: 1;
    text-decoration: none;
    color: #ffffff;
}
.nav-option::before {
    transition: 300ms;
    height: 3px;
    content: "";
    position: absolute;
    background-color: #eeeeee;
    width: 0%;
    bottom: 10px;
}
.nav-option:hover::before {
    width: 100%;
  }

.home .pp{
 width: 50%;
 -webkit-mask-repeat: no-repeat;
 float: right;
 margin-left: 190px;
 margin-top: -370px;
 z-index: 2;
}
.pp{
    -webkit-mask-image: url(blob.svg);
}
.arrow{
  width: 360px;
  z-index: 1;
  rotate: 210deg;
  float: right;
  margin-left: 542px;
  margin-top: -10px;
  position: absolute;
}
.content {
    position: relative;
    font-family: "Poppins", sans-serif;
    padding: 18px;
    font-size: 28px;
    margin-left: 140px;
    margin-top: 170px;
  }
.content h2 {
    color: #fff;
    font-size: 2.6em;
    margin-top: 30px;
    margin-left: 245px;
    position: absolute;
    transform: translate(-50%, -50%);
  }
  
.content h2:nth-child(1) {
    color: transparent;
    -webkit-text-stroke: 2px #03a9f4;
  }
  
.content h2:nth-child(2) {
    color: #03a9f4;
    animation: animate 4s ease-in-out infinite;
  }
  
  @keyframes animate {
    0%,
    100% {
      clip-path: polygon(
        0% 45%,
        16% 44%,
        33% 50%,
        54% 60%,
        70% 61%,
        84% 59%,
        100% 52%,
        100% 100%,
        0% 100%
      );
    }
  
    50% {
      clip-path: polygon(
        0% 60%,
        15% 65%,
        34% 66%,
        51% 62%,
        67% 50%,
        84% 45%,
        100% 46%,
        100% 100%,
        0% 100%
      );
    }
  }
  .container p {
    text-shadow: 0 0 7px rgba(255,255,255,.3), 0 0 3px rgba(255,255,255,.3);
  }
  .container {
    position: absolute;
    color: #e5e5e5;
    font-size: 2.24rem;
    text-transform: uppercase;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
    margin-left: -160px;
    margin-top: -220px;
  }
  
  .animation {
    height:60px;
    overflow:hidden;
    margin-left: 1rem;
  }
  
  .animation > div > div {
    padding: 0.25rem 0.75rem;
    height:2.81rem;
    margin-bottom: 2.81rem;
    display:inline-block;
  }
  
  .animation div:first-child {
    animation: text-animation 8s infinite;
  }
  
  .first div {
    background-color:transparent;
    color: #cf490b;
  }
  .second div {
    background-color:transparent;
    color: #ff00c8;
  }
  .third div {
    background-color:transparent;
    color: #a5ee1e;
  }
  
  @keyframes text-animation {
    0% {margin-top: 0;}
    10% {margin-top: 0;}
    20% {margin-top: -5.62rem;}
    30% {margin-top: -5.62rem;}
    40% {margin-top: -11.24rem;}
    60% {margin-top: -11.24rem;}
    70% {margin-top: -5.62rem;}
    80% {margin-top: -5.62rem;}
    90% {margin-top: 0;}
    100% {margin-top: 0;}
  }
  .about{
    height: 550px;
  }
  .about h2{
    font-family: 'Pacifico', cursive;
    font-weight: 600;
    padding: 28px;
    position: relative;
    margin-bottom: -80px;
    margin-left: 120px;
  }
  .about-section p{
    width: 560px;
    height: 230px;
    color: #ffffff;
    position: absolute;
    font-family: "Fredoka", sans-serif;
    font-size: 18px;
    margin-top: 90px;
    margin-left: 60px;
    padding: 18px;
    cursor: text;
    z-index: 1;
    overflow: hidden;
  }
  .img-section{
    float: right;
    padding: 20px;
    margin-right: 120px;
  }
  .img-section img
  {
    width: 400px;
    filter: grayscale(100%);
    border-radius: 28px;
  }
  .main-img
  {
    width: 260px;
    height: 260px;
    border-radius: 36px;
    background: url(profile.jpg);
    background-position: -4px;
    z-index: 2;
    position: relative;
    margin-top: -350px;
    margin-left: -40px;
    opacity: 0.95;
    transition: 2s ease-in-out;
    
  }
  .main-img:hover{
    width: 400px;
    height: 400px;
    opacity: 1;
    background-size: contain;
    transition: 2s linear;
  }
  .skills h2{
    font-family: 'Pacifico', cursive;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    letter-spacing: 4px;
  }
  .icons {
    text-align:right;
    padding: 40px;
    word-spacing: 12.5px;
    margin-right: 80px;
    margin-top: -260px;
    
  }
  
  .icons  a {
    font-size:28px;
    width:60px;
    height:60px;
    line-height:60px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1.4px solid #ffffff;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
    z-index: 1;
  }
  
  .icons a:hover {
    opacity:1;
  }
 .icons .first{
  margin-right: 48px;
 }
 .icons .third{
  margin-right: 42px;
 }
  .icon-css:hover
  {
    background-color: #03a8f4b6;
  }
  .icon-js:hover
  {
    background-color: #f4bc03b6;
  }
  .icon-git:hover
  {
    background: #f03e08f3;
  }
  .icon-python:hover
  {
    background: linear-gradient(#fcce03dc,#0697ebe1);
  }
  .icon-github:hover
  {
    background-color: #ffffff88;
  }
  .icon-php:hover
  {
    background-color: #03f4ccad;
  }
  .icon-bootstrap:hover
  {
    background-color: #d803f4b6;
  }

  .progressbar{
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    margin-top: 50px;
    font-family: 'Pacifico', cursive;
  }
  .skill-container {
    width: 50%;
    background-color: #ddd;
    border-radius:28px;
    margin-left: 320px;
    margin-top: -14px;
    margin-bottom: 16px;
  }
  
  .myskills {
    text-align: right;
    font-family: 'Pacifico', cursive;
    padding-top: 4px;
    padding-bottom: 4px;
    color: white;
    border-radius:28px;
  }
  
  .html {
    width: 90%; 
    background-color: #04AA6D;
  }
  .css {
    width: 80%; 
    background-color: #2196F3;
  }
  .js {
    width: 65%; 
    background-color: #f44336;
  }
  .wordpress {
    width: 60%; 
    background-color: #808080;
  }

  .swiper {
    position: relative;
    width: 60%;
    height: 100%;
    margin-top: 120px;
    margin-left: 60px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #000000;
    justify-content: center;
    align-items: center;
    color: #ffffff;
  }

  .swiper-slide h2{
    text-align: center;
    align-items: center;
    text-decoration: none;
    margin-top: 8px;
    font-family: 'Pacifico', cursive;
    letter-spacing: 1px;
  }
  .swiper-slide p{
    margin-top: -10px;
    font-family: "Poppins", sans-serif;
    text-align: left;
    padding: 16px;
  }

  
  .autoplay-progress {
    position: absolute;
    right: 16px;
    bottom: 16px;
    z-index: 10;
    width: 48px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: var(--swiper-theme-color);
  }

  .autoplay-progress svg {
    --progress: 0;
    position: absolute;
    left: 0;
    top: 0px;
    z-index: 10;
    width: 100%;
    height: 100%;
    stroke-width: 4px;
    stroke: var(--swiper-theme-color);
    fill: none;
    stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
    stroke-dasharray: 125.6;
    transform: rotate(-90deg);
  }
  .projects h2{
    font-family: 'Pacifico', cursive;
    font-weight: 700;
    font-style: italic;
    text-align: center;
    letter-spacing: 4px;
  }

  .showcase{
    padding: 24px;
    width: 90%;
    max-height: 86%;
    margin-left: 60px;
    display: flex;
    justify-content: space-between;
  }
  .project-main{
    width: 400px;
    height: 550px;
    text-align: center;
    font-size: 18px;
    border-radius: 28px;
    background: #ece9e98f;
    display: flex;
    justify-content: space-around;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    opacity: 90%;
    padding: 18px;
    margin: 20px;
  }
  .project-main img{
    display: block;
    max-width: 100%;
    object-fit: cover;
    margin-top: -210px;
    border-radius: 28px;
  }
  .project-main h2{
    font-size: 24px;
    letter-spacing: 1.2px;
    display: flex;
    position: absolute;
    margin-top: 160px;
    font-family: "Fredoka", sans-serif;
    font-weight: 500;
    cursor: pointer;
    z-index: 2;
}
.project-main:hover{
  opacity: 100%;
}
.live{
  position: absolute;
  margin-top: -490px;
  margin-left: 280px;

  .fa-arrow-up{
    rotate: 45deg;
    font-size: 28px;
    opacity: 0.75;
  }
 a {
    font-size:24px;
    width:45px;
    height:45px;
    line-height:45px;
    display:inline-block;
    text-align:center;
    border-radius:38%;
    border:0.2px solid #ffffff5b;
    margin:0 8px;
    color:inherit;
    z-index: 3;
}
}
.fa-arrow-up:hover{
  font-size: 38px;
  opacity: 1;
}
.description{
  width: 360px;
  color: #000;
  position: absolute;
  font-family: "Fredoka", sans-serif;
  margin-top: 280px;
  padding: 18px;
  cursor: text;
  z-index: 1;
  height: 130px;
  overflow: hidden;
}

.read_btn2{
  position: relative;
  background-color: #fa08e6; /* Green */
  border: none;
  border-radius: 25px;
  color: white;
  padding: 12px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-weight: 600;
  margin-left: -310px;
  margin-top: 480px;
  z-index: 2;
}
.read_btn2:hover{
    background-color: #fa08e67a;
}
.contact img{
  position: relative;
  margin-bottom: -640px;
  margin-left: 90px;
}
form {
	min-width: 25rem;
  max-width: 40%;
  margin-left: 700px;
  z-index: 3;
	
	.title {
		font-family: 'Pacifico', cursive;
		color: #e8ecf0;
		font-size: 2.5rem;
    margin-left: -600px;
	}
	
  .form-control {
    background-color: #f2f6f8;
		border-radius: 2rem;
    border: none;
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
		
    &.thick {
      height: 3.3rem;
      padding: .5rem 3.5rem;
    }
		
		&:focus {
			background-color: #f2f6f8;
			border: none;
			box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.11);
		}
  }
	
	.message .form-control {
			padding: .5rem 1.8rem;
	}
	
  ::placeholder {
    font-family: 'Quicksand', sans-serif;
		font-weight: 600;
    font-size: 1.1rem;
    color: #838788;
    position: relative;
    left: 0;
  }
	
  input,
  textarea {
		font-family: 'Quicksand', sans-serif;
    color: #212529;
    font-size: 1.1rem;
  }
	
  .fa-solid {
    color: #57565c;
    height: 1.8rem;
    position: absolute;
    left: 1.5rem;
    top: 1.1rem;
  }
}

.btn.btn-primary {
  font-family: 'Quicksand', sans-serif;
	font-weight: bold;
  height: 2.5rem;
  line-height: 2.5rem;
  padding: 0 3rem;
  border: 0;
  border-radius: 3rem;
  background-image:linear-gradient(131deg, #ffd340, #ff923c, #ff923c, #ff923c);
  background-size: 300% 100%;
  transition: all 0.3s ease-in-out;
}

.btn.btn-primary:hover:enabled {
  box-shadow: 0 0.5em 0.5em -0.4em #ff923cba;
  background-size: 100% 100%;
  transform: translateY(-0.15em);
}

footer {
  z-index: 2;
    width:100%;
    position:relative;
    bottom:0px;
    font-family: "Fredoka", sans-serif;
  }
  .footer-basic {
    position: relative;
    padding-bottom: 18px;
    background: #4478e3;
  }
  
  .footer-basic ul {
    padding:0;
    list-style:none;
    text-align:center;
    font-size:20px;
    line-height:1.6;
    margin-bottom:0;
    font-weight: 500;
  }
  
  .footer-basic li {
    padding:0 10px;
  }
  
  .footer-basic ul a {
    color:inherit;
    text-decoration:none;
    opacity:0.8;
  }
  
  .footer-basic ul a:hover {
    opacity:1;
  }
  
  .footer-basic .social {
    text-align:center;
    padding-bottom:20px;
  }
  
  .footer-basic .social > a {
    font-size:24px;
    width:45px;
    height:45px;
    line-height:45px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1.4px solid #ffffff;
    margin:0 8px;
    color:inherit;
    opacity:0.75;
  }
  
  .footer-basic .social > a:hover {
    opacity:1;
  }
  
  .footer-basic .copyright {
    margin-top:15px;
    text-align:center;
    font-size:13px;
    color:#e6e6e6;
    margin-bottom:0;
  }
  svg {
    width:100%;
    margin-bottom: -120px;
  }
  
  .wave {
    animation: wave 3s linear;
    animation-iteration-count:infinite;
    fill: #4478e3;
  }
  .drop {
    fill: transparent;
    animation: drop 5s ease infinite normal;
    stroke: #4478e3;
    stroke-width:0.5;
    opacity:.6; 
    transform: translateY(80%);
  }
  .drop1 {
    transform-origin: 20px 3px;
  }
  .drop2 {
    animation-delay: 3s;
    animation-duration:3s;
    transform-origin: 25px 3px;
  }
  .drop3 {
    animation-delay: -2s;
    animation-duration:3.4s;
    transform-origin: 16px 3px;
  }
  .gooeff {
        filter: url(#goo);
  }
  #wave2 {
    animation-duration:5s;
    animation-direction: reverse;
    opacity: .6
  }
  #wave3 {
    animation-duration: 7s;
    opacity:.3;
  }
  @keyframes drop {
    0% {
      transform: translateY(80%); 
      opacity:.6; 
    }
    80% {
      transform: translateY(80%); 
      opacity:.6; 
    }
    90% { 
      transform: translateY(10%) ; 
      opacity:.6; 
    }
    100% { 
      transform: translateY(0%) scale(1.5);  
      stroke-width:0.2;
      opacity:0; 
    }
  }
  @keyframes wave {
    to {transform: translateX(-100%);}
  }

